<div class="main-container">
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Filter">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="notes-list">
        <app-note-card [title]="'Test 1'" [body]="'Test 1 body'"></app-note-card>
        <app-note-card [title]="'Test 2'" [body]="'Test 2 body'"></app-note-card>
        <app-note-card [title]="'Test 3'" [body]="'Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body Test 3 body '"></app-note-card>
    </div>
</div>